/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #DBF5F5;
        width: 95%;
    }
    .button {
        margin-block: 20px auto;
    }
    .navbar {
        width: 95%;
    }
    p {
        position: flex;
        width: 95%;
    }

    img {
        position: flex;
    }
    
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body{
        background-color: #DBF5F5;
        width: 95%;
    }
    .button {
        margin-block: 20px auto;
    }
    .menu-container {
        height: auto;
        justify-content: flex-start;
        align-items: center;
    }
    .navbar {
        max-width: 95%;
    }
    img {
        position: flex;
    }
    p {
        width: 95%;
        position: flex;
    } 
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
        background-color: #DBF5F5;
    } 
    .button {
        margin-block: 20px;
    }
    .menu {
        height: 120px;
    }
    .navbar {
        width: 960px;
    }
    
} 