* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    max-width: 960px;
    min-width: none;
    margin: 0 auto;
    text-align: center;
    background-color: #31FEFE;
}

p {
    font-size: 25px;
}

#cv:link {
    color: #0000FF;
}
#cv:hover {
    color: #FF0000;
}

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 60px;
}