* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    max-width: 960px;
    min-width: none;
    margin: 0 auto;
    text-align: center;
    background-color: #b7f7f7;
}

h1 {
    margin-top: 40px;
}

p {
    text-align: left;
    font-size: 25px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-left: 20px;
    text-align: left;
}

img {
    margin-bottom: 20px;
    border: 2px solid #FFF;
    border-radius: 5px;
    width: 80%;
    box-shadow: 10px 12px 14px 4px #B2B2B2;
}

.flexbox {
    display: flex;
}

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 60px;
}

.navbar {
    max-width: 960px;
}

/* Mobile Styles */
@media only screen and (min-width: 1px) and (max-width: 400px) {
    .navbar {
      max-width: 95%;
      margin-left: 11px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .navbar {
       max-width: 95%;
       margin-left: 11px;
    }
}