* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    max-width: 960px;
    min-width: none;
    margin: 0 auto;
    text-align: center;
    background-color: #9AF6F6;
}

h1 {
    margin-top: 20px;
}

p {
    text-align: center;
    position: relative;
    font-size: 25px;
}

.cars p img,
.pizza p img, 
.developer p img {
    display: block;
}

.cars p {
    margin: -190px 0 70px 450px; 
}

.pizza p {
    margin: -270px 450px 70px 0;
}

.developer p {
    margin: -210px 0 70px 450px;
}

img {
    position: relative;
    width: 400px;
    margin-top: 30px;
    border: 2px solid #FFF;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 10px 12px 14px 4px #B2B2B2;
}

.cars img {
    margin:30px 600px 0 0;
    transform: rotateZ(-0.05turn);
}

.pizza img {
    margin-left: 550px;
    transform: rotateZ(0.05turn);
}

.developer img {
    margin: 30px 600px 0 0;
}

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 60px;
}

.navbar {
    display: fixed;
}


