/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #DBF5F5;
        width: 95%;
    }
    .button {
        margin-block: 20px auto;
    }
    .navbar {
        width: 95%;   
    }
    p {
        position: flex;
        width: 100%;
    }

    img {
        position: flex;
        width: 100%;
    } 
    .cars img {
        position: relative;
        margin: 10px;
        width: 95%;
    }
    .cars p {
        position: relative;
        margin: 60px 0;
    }
    .pizza img {
        position: relative;
        margin: 10px;
        width: 90%;
    }
    .pizza p {
        position: relative;
        margin: 60px 0;
    }
    .developer img {
        position: relative;
        margin: 0;
    }
    .developer p {
        position: relative;
        margin: 30px 0;
    }
    .email img {
        content: url(/assets/img/iphone-email.png);
        width: 60%;
        background-color: #FFF;
    }
    .linkedin {
        content: url(/assets/img/iphone-linkedin.png);
        width: 60%;
        background-color: #FFF;
    }
    .github {
        content: url(/assets/img/iphone-github.png);
        width: 60%;
        background-color: #FFF;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body{
        background-color: #DBF5F5;
        width: 95%;
    }
    .button {
        margin-block: 20px auto;
    }
    .menu-container {
        height: auto;
        justify-content: flex-start;
        align-items: center;
    }
    .navbar {
        max-width: 95%;
    }
    img {
        position: flex;
        width: 100%;
    }
    p {
        width: 100%;
        position: flex;
    } 
    .cars img {
        position: relative;
        margin: 10px;
        width: 95%;
    }
    .cars p {
        position: relative;
        margin: 60px 0;
    }
    .pizza img {
        position: relative;
        margin: 10px;
        width: 90%;
    }
    .pizza p {
        position: relative;
        margin: 60px 0;
    }
    .developer img {
        position: relative;
        margin: 0;
    }
    .developer p {
        position: relative;
        margin: 30px 0;
    }
    .email {
        content: url(/assets/img/iphone-email.png);
        width: 60%;
        background-color: #FFF;
    }
    .linkedin {
        content: url(/assets/img/iphone-linkedin.png);
        width: 60%;
        background-color: #FFF;
    }
    .github {
        content: url(/assets/img/iphone-github.png);
        width: 60%;
        background-color: #FFF;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 960px;
        margin: 0 auto;
        background-color: #DBF5F5;
    } 
    .button {
        margin-block: 20px;
    }
    .menu {
        height: 120px;
    }
    .navbar {
        max-width: 960px;
    }
} 