* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: italic;
    max-width: 960px;
    min-width: none;
    margin: 0 auto;
    text-align: center;
    background-color: #00FFFF;
}

h1 {
    margin-top: 20px;
}

img {
    background-color: #B2D6FF;
    padding: 15px;
    border-radius: 45px;
    width: 960px;
    height: 350px;
    margin: 20px auto;
    display: block;
    justify-content: center;
}

img:hover {
    box-shadow: 10px 12px 14px 4px #9CC0EE;
}

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 60px;
}




